.header {
    padding-top: 10px;
    background-color: #707070;
    background: linear-gradient(rgb(51, 51, 51), rgb(34, 34, 34));
    font-size: 16px;

    .controls.row {
        padding-right: 0;
        margin-right: 0;
        padding-bottom: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .reset {
        cursor: pointer;
        font-size: 18px;
        color: red;
        text-align: center;

        &:hover {
            color: lighten(red, 15%);
        }
    }

    .offer {
        cursor: pointer;
        text-align: center;
        font-size: 18px;

        a {
            color: #b5ffa6 !important;
        }
    }

    .total {
        border: 0;
        text-align: center;

        .title {
            color: #fff !important;
            margin: 0 auto;
            max-width: 50px;
            font-size: 18px;
            font-weight: bold;
            color: ivory;
            text-align: center;
        }
    }

    @media only screen and (max-device-width: 480px) {
        padding-right: 10px;
        padding-left: 10px;
        .total, .offer, .reset {
            margin-top: 10px;
            padding-left: 0;
            padding-right: 0;
        }
    }
}
