.sortPicker {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    background-color: #707070;
    width: 260px;

    input {
        margin: 0 10px 0 10px;
    }
}
