.specLinesBuilder {
    .categoryLine {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 10px;

        .title {
            min-width: 100px;
        }

        .addLineBtn {
            margin-left: 5px;
        }
    }
}
