.specLinesBuilder {

    .categoryLine {
        background-color: #999999;
        margin: 1px;
        padding: 8px;

        .title {
            margin-right: 5px;
        }

        .addLineBtn {
            margin-top: 5px;
        }
    }

    .categories {
    }

    .offer {
        cursor: pointer;
    }

    button {
        color: black;
    }

    .control-row {
        padding: 5px;
    }

    .sortPicker-wrapper {
        width: 20%;
    }
}
