.specLine {
    margin-bottom: 5px;
    .select {
        color: black;

        .Select-control {
            height: 25px;
        }

        .Select-input {
            height: 25px;
        }

        .Select-value {
            direction: ltr;
            line-height: 25px !important;
        }

        .Select-value-label {
            padding-left: 10px;
        }

        .Select-option {
            direction: ltr;

            &:first-of-type {
            }
        }

        .Select-menu-outer {
            overflow-x: auto;
        }
    }

    .quantity {
    }

    .minusBtn {
        color: black;
    }

    input {
        color: black;
    }

    .link {
        img {
            margin: 0;
        }
    }
}
