.systemPicker {
    background-color: #707070;
    margin-bottom: 1px;
    margin-right: 0;
    padding: 10px;

    .systems {
        margin-bottom: 10px;

        .system {
            width: 100%;
        }
    }

    .chooseBtn {
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        color: #707070;
    }

    .btnWrapper {
        margin: 0 auto;
        width: 25%;
    }
}
