.systemPicker {
    background-color: #707070;
    margin: 5px;
    margin-right: 0;
    padding: 10px;

    .systems {
        margin-bottom: 10px;

        .systemLine {
            margin-top: 5px;
            border-bottom: 1px solid;
            text-align: right;

            .system-line-wrapper {
                text-align: start;
            }

            input {
                margin-left: 5px;
                margin-right: 5px;
            }

            .subsystem {
                .subsystem-inner {
                    margin-right: 5px;
                }
            }
        }
    }

    .chooseBtn {
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        color: #707070;
    }

    .header {
        font-weight: bold;
        background-color: #919191;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
