.systemPicker {
    margin-bottom: 1px;
    margin-right: 0;

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .system-header {
        padding-right: 12px;
    }

    .systems, .subsystems {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        flex-wrap: wrap;

        &.subsystemPick {
            flex-wrap: wrap-reverse;
            justify-content: center;
        }

        .system {
            @bgcolor: red;
            display: flex;
            direction: ltr;
            cursor: pointer;
            padding: 5px;
            margin: 5px;
            background: linear-gradient(#888, #444);
            flex: 1;
            max-width: 300px;
            min-width: 100px;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: darken(@bgcolor, 15%);
            }

            &.selected {
                border: 1px solid red;
                animation: glow 800ms ease-out infinite alternate;
            }
        }

        .arrow {
            align-self: center;
            font-size: 36px;
            flex: 1;
        }

        .system-back {
            align-self: center;
            cursor: pointer;
            font-size: 24px;
            margin-right: 20px;

            &:hover {
                color: red;
            }
        }
    }

    .button-row {
        text-align: center;
    }

    .chooseBtn {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: #fffcbf;

        &:hover {
            color: #ccc;
            text-decoration: none;
        }
    }

    .btnWrapper {
        margin: 0 auto;
        width: 25%;
    }

    .Select-value {
        direction: ltr;
        padding-left: 20px !important;
        background: linear-gradient(#555, #222);

        .Select-value-label {
            color: #fff !important;
        }
    }

    .Select-control {
        border-color: #555;
    }

    .Select-menu-outer .Select-menu {
        background: linear-gradient(#333, #111);
        text-align: left;
    }

    .Select-menu-outer {
        border-color: #555;
    }

    .Select-option {
        background: transparent;
        color: #fff;

        &:hover {
            background: #444;
        }
    }

    .Select-option {
        direction: ltr;
    }

    @-webkit-keyframes glow {
        0% {
            border-color: #393;
            box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
        }
        100% {
            border-color: #6f6;
            box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
        }
    }

    @-moz-keyframes glow {
        0% {
            border-color: #393;
            box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
        }
        100% {
            border-color: #6f6;
            box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
        }
    }

    @-o-keyframes glow {
        0% {
            border-color: #393;
            box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
        }
        100% {
            border-color: #6f6;
            box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
        }
    }

    @-ms-keyframes glow {
        0% {
            border-color: #393;
            box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
        }
        100% {
            border-color: #6f6;
            box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
        }
    }

    @keyframes glow {
        0% {
            border-color: #393;
            box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
        }
        100% {
            border-color: #6f6;
            box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
        }
    }
}
